<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>194933690511-cudj26mq9bdi9dso5pb81vjgkm7ufur5.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.194933690511-cudj26mq9bdi9dso5pb81vjgkm7ufur5</string>
	<key>API_KEY</key>
	<string>AIzaSyAZ5UwsXeRLYeIB-Z_uuKsfipidOYN_SfY</string>
	<key>GCM_SENDER_ID</key>
	<string>194933690511</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.nasta.Snacktacular</string>
	<key>PROJECT_ID</key>
	<string>snacktacular-4b560</string>
	<key>STORAGE_BUCKET</key>
	<string>snacktacular-4b560.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:194933690511:ios:2e6b62f520c87a3c</string>
	<key>DATABASE_URL</key>
	<string>https://snacktacular-4b560.firebaseio.com</string>
</dict>
</plist>